<h1>Heroes</h1>
<hr>
<div class="row">
  <div class="col-md-12 text-right">
    <button 
      [routerLink]="['/heroe', 'nuevo']" 
      class="btn btn-outline-primary" 
      type="button" name="button">
      Nuevo héroe
    </button>
  </div>
</div>
<br>
<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Casa</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>
</div>