<h3>
  Héroe <small>nombre ...</small>
</h3>
<button class="btn btn-outline-danger" [routerLink]="['/heroes']">
  Regresar 
</button>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">
      <div class="form-group">
        <label for="">Nombre</label>
        <input 
          [(ngModel)]="heroe.nombre"
          name="nombre"
          type="text" class="form-control" required placeholder="nombre del héroe">
      </div>
      <div class="form-group">
          <label for="">Casa</label>
          <select 
            [(ngModel)]="heroe.casa"
            type="text" class="form-control" name="casa">
            <option value="Marvel">Marvel</option>
            <option value="Dc">Dc</option>
          </select>
        </div>
        <div class="form-group">
            <label for="">Bio</label>
            <textarea 
              [(ngModel)]="heroe.bio"
              name="bio"
              type="text" class="form-control" required>
            </textarea>
        </div>
        <div class="form-group">
          <button [disabled]="!forma.valid"
            type="submit" class="btn btn-outline-primary">
            Guardar cambios
          </button>
        </div>
    </form>
  </div>
</div>
