<app-navbar></app-navbar>

<div class="container main-container">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="!marcadorSel">
        <div class="alert alert-info animated fadeIn fast" role="alert">
          <strong>
            Haga click, en el mapara, para crear un marcador, o seleccione uno.
          </strong>
        </div>
      </div>
      <div *ngIf="marcadorSel" class="animated fadeIn fast">
        <h5>Marcador</h5>
        <hr>
        <div class="form-group">
          <label>Titulo</label>
          <input [(ngModel)]="marcadorSel.titulo"
            type="text" name="titulo" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <input [(ngModel)]="marcadorSel.desc"
            type="text-area" name="desc" rows="5" class="form-control"/>
        </div>
        <div class="form-group">
          <select name="draggable" class="form-control" [(ngModel)]="marcadorSel.draggable">
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>    
        </div>
        <button class="btn btn-outline-primary btn-block" type="button"
              (click)="_ms.guardarMarcadores()">Guardar Cambios</button>
      </div>
    </div>
    <div class="col-md-8 animated fadeIn fast">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="clickMapa($event)">
        <agm-marker [latitude]="marcador.lat" [longitude]="marcador.lng" [title]="marcador.titulo" [markerDraggable]="marcador.draggable" *ngFor="let marcador of _ms.marcadores; let i = index"
          (markerClick)="clickMarcador(marcador, i)"
          (dragEnd)="dragEndMarcador(marcador, $event)">
          <agm-info-window>
            <strong>
              {{ marcador.titulo }}
            </strong>
            <p *ngIf="marcador.desc">
              {{ marcador.desc }}
            </p>
            <p>
              <a (click)="borrarMarcador(i)" class="text-danger puntero">Borrar marcador</a>
            </p>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>