<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
	<div [ngClass]="{'text-right': _cs.usuario.uid == chat.uid }" *ngFor="let chat of _cs.chats">
		<span class="badge " 
		[ngClass]="{'badge-primary': _cs.usuario.uid == chat.uid, 'badge-success': _cs.usuario.uid != chat.uid}"></span>
		<p>{{ chat.nombre }}</p>
	</div>
</div>
<input class="form-control" type="text" name="mensaje" [(ngModel)]="mensaje" 
	(keyup.enter)="enviar_mensaje()" 
	placeholder="enviar mensaje">
