<div class="container main-container">
  <h1>Mi canal</h1>
  <hr>
  <div>
      <div class="card-columns" *ngIf="videos.length">
        <div class="card animated fadeIn fast" *ngFor="let video of videos">
          <img class="card-img-top img-fluid" [src]="video.thumbnails.high.url"/>
          <div class="card-body">
            <h5 class="card-title">{{ video.title }}</h5>
            <button (click)="verVideo(video)" type="button" class="btn btn-primary btn-block">
              Ver video
            </button>
          </div>
        </div>
      </div>
  </div>
  <div>
      <button class="btn btn-outline-primary btn-block"
      (click)="load()">Más</button>
  </div>
</div>
  <!-- modal -->
  <div id="myLargeModalLabel" class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" *ngIf="videoSelected">
          <div class="modal-header">{{ videoSelected.title }}</div>
          <div class="modal-body">
              <iframe width="100%" height="315px" [src]="videoSelected.resourceId.videoId | filterSaveUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <button class="close" (click)="cerrarModal()">X</button>
            </div>
        </div>
      </div>
    </div>
