<div class="row">
    <div class="col-md-6">
        <h1>*ngIf</h1>
        <hr>
        <button class="btn btn-primary-outline block" (click)="visible=!visible">
            Mostrar/Ocultar
        </button>
        <br>
        <div class="card text-white bg-primary mb-6">
          <div *ngIf="visible" class="card-block">
            <blockquote class="card-blockquote">
              <p class="card-text">{{ frase.mensaje}}</p>
              <footer>{{ frase.autor}}</footer>
            </blockquote>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let personaje of personajes; let i = index">{{ i + 1 }} . {{ personaje }}</li>
        </ul>
    </div>
</div>
